<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Clientes</title>
</head>
<body>
<h1>Lista de Clientes</h1>
<table id="datos" border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<a th:href="@{/clientes/add}">Nuevo cliente</a>
<script type="text/javascript" th:src="@{/js/cliente.js}"></script>
</body>
</html>
