<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${add} ? 'Nuevo cliente' : 'Actualizar cliente'"></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1 th:text="${add} ? 'Nuevo cliente' : 'Actualizar cliente'" />
    <form method="POST">

        <input type="text" name="nombre" id="nombre" />
        <label for="nombre">Nombre</label>
        <br>
        <input type="text" name="apellidos" id="apellidos" />
        <label for="apellidos">Apellidos</label>
        <br>
        <input type="text" name="nif" id="nif" />
        <label for="email">NIF</label>
        <br>
        <input type="text" name="email" id="email" />
        <label for="email">Correo electronico</label>
        <br>
        <input type="text" name="claveSeguridad" id="claveSeguridad" />
        <label for="claveSeguridad">Correo electronico</label>
        <br>
        <button id ="botonRegistro" class="botonRegistro">Registrar</button>
    </form>
    <br>
    <a th:href="@{/clientes}">Volver a la lista de clientes</a>
    <script type="text/javascript" th:src="@{/js/clienteform.js}"></script>
</body>
</html>