<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${add} ? 'Nuevo cliente' : 'Actualizar cliente'"></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <form method="POST" id="clienteForm">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" />
        <br>
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" />
        <br>
        <label for="email">NIF</label>
        <input type="text" name="nif" id="nif" />
        <br>
        <label for="email">Correo electronico</label>
        <input type="text" name="email" id="email" />
        <br>
        <label for="claveSeguridad">Clave de seguridad</label>
        <input type="text" name="claveSeguridad" id="claveSeguridad" placeholder="No pongas la fecha de nacimiento de tu perr@ anda"/>
        <br>

        <button id="botonRegistro" class="botonRegistro">Registrar</button>
        <button id="botonActualizar" class="botonActualizar" disabled>Actualizar</button>

    </form>
    <br>
    <a th:href="@{/clientes}">Volver a la lista de clientes</a>
    <script type="text/javascript" th:src="@{/js/clienteform.js}"></script>
</body>
</html>