<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1 th:utext="${titulo}"></h1>
    <br>
    <a th:href="@{/clientes}">Gestión de clientes hecha por Carlitos (es mentira jeje) </a>
    <br>
    <br>
    <p th:utext="${nombreAsignatura}"></p>
</body>
</html>